<nav class="navbar navbar-default fixed"
     style="width:100%">
    <div class="container-fluid">
        <div class="row" style="margin-top:1%; text-align:center">
            <div class="col-md-10">
                <p><player #player></player></p>
            </div>
            <div class="col-md-2">
                <search #search [dht]="dht"></search>
            </div>
        </div>
    </div>
</nav>
<div style="height: 70px"></div>
<div id="content">
    <h1>Streamy</h1>

    <form id='magnet' (ngSubmit)="onSubmit()">
        <label for="torrentId">Download from a magnet link: </label>
        <input type="text" 
      [(ngModel)]="magnetURI" placeholder="magnet:" >
        <button type="submit">Download</button>
    </form>

    <div *ngIf="alerts.length != 0">
    <h2>Log</h2>
    <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" [dismissible]="alert.closable" [dismissOnTimeout]="alert.timeout" (close)="closeAlert(i)">
        {{ alert.msg }}
        </alert>
    </div>

    <div *ngIf="search_result">
    <h2>Search result</h2>
    <b>{{search_result.title}}</b> 
    <ul>
        <li>Album: {{search_result.albumName}}</li>
        <li *ngFor="let artist of search_result.artistNames">
            Artist: {{artist}}
        </li>
        <button type="button"
                class="btn btn-primary"
                (click)="download_song(search_result.magnet)"
                >
            <i class="fa fa-download" aria-hidden="true"></i>
            Download Song
        </button>
    </ul>
    </div>

    <h2>Playlist</h2>
    <playlist #playlist></playlist>

    <h2>Downloads</h2>
    <downloads #downloads></downloads>

	<h2>Local</h2>
	<localcontent #localcontent></localcontent>
<!--
	<h2>Playlists</h2>
	<playlist_control></playlist_control>

	<h2>Info</h2>
	<songInfo></songInfo>
-->

    <h2>DropArea</h2>
    <dropArea #droparea [dht]="dht"></dropArea>
</div>
