<div id="wrapper">
<nav>
    <p><player #player></player></p>
</nav>
<div id="dummy"></div>
<div id="content">
    <h1>Streamy</h1>

    <form id='magnet' (ngSubmit)="onSubmit()">
        <label for="torrentId">Download from a magnet link: </label>
        <input type="text" 
      [(ngModel)]="magnetURI" placeholder="magnet:" >
        <button type="submit">Download</button>
    </form>

    <h2>Playlist</h2>
    <playlist #playlist></playlist>

    <h2>Downloads</h2>
    <downloads #downloads></downloads>

    <h2>Search</h2>
    <search [dht]="dht"></search>

	<h2>Local</h2>
	<localcontent #localcontent></localcontent>

	<h2>Playlists</h2>
	<playlist_control></playlist_control>

	<h2>Info</h2>
	<songInfo></songInfo>

    <h2>DropArea</h2>
    <dropArea [dht]="dht"></dropArea>
</div>
</div>

<style>
#wrapper {
    width:940px;
    margin: 0 auto;
}

header {
    text-align:center;
    padding:70px 0;
}

#dummy {
    height :50px;
}

nav {
    background: ##A9A9A9;
    height: 40px;
    width: 660px;
    margin-left: -10px;
    line-height:50px;
    position: fixed;
}

#content {
    background: #fff;
    height: 1500px; /* presetting the height */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.fixed {
      position:fixed;
}
</style>
