<ul>
    <li *ngFor="let dl of downloads">
        <b>{{dl.name}}</b>
        <ul>
            <li> Hash: {{dl.info}} </li>
            <li> Progress: {{dl.progress*100 | number:'.1-1'}} % 
                <i *ngIf="dl.progress != 1" class="fa fa-cog fa-spin fa-fw"></i>
            </li>
            <li> Speed: {{dl.download_speed/1000 | number:'.1-1'}} kB/sec </li>
            <li> Timeleft: {{dl.time_left/1000 | number:'.1-1'}} sec </li>
            <li> Add to playlist: 
                <button type="button"
                        [disabled]="dl.song == undefined"
                        (click)="add_to_playlist(dl)"
                        >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </li>
</ul>
